<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathon.pragati">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/last"
        android:label="@string/app_name"
        android:roundIcon="@drawable/last"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".TestGraph" />
        <activity android:name=".NewAdmin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".ProjectHome" />
        <activity android:name=".AdminHome" />
        <activity android:name=".ConstructorHome" />
        <activity android:name=".UserHome" />
        <activity android:name=".AddNewProject" />
        <activity android:name=".LoginPage" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>